html, body {
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  background-color: white;
}

section {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Regular.woff");
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.publication-header {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 93px;
}

.inner-publication-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 87%;
  height: 100%;
}
.inner-publication-header .switch {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 12px;
}
.inner-publication-header input {
  opacity: 0;
  width: 0;
  height: 0;
}
.inner-publication-header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8D8F9B;
  transition: 0.4s;
  border-radius: 12px;
}
.inner-publication-header .slider::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 1px;
  bottom: 1px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.publication {
  padding-top: 30px;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}

.inner-publication {
  justify-content: space-between;
  display: flex;
  width: 57%;
  height: 100%;
  flex-direction: column;
}

.publication-intro {
  display: flex;
  align-items: center;
}

.publication-category {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.publication-category p {
  font-size: 16px;
  color: #131315;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
}

.publication-type {
  width: 18px;
  height: 18px;
  background: linear-gradient(91.3deg, #2D4EF5 0%, #FF008A 100%);
  border-radius: 3px;
  margin-right: 8px;
}

.publication-name {
  margin-right: 24px;
}
.publication-name a {
  font-size: 16px;
  color: #131315;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 400;
  font-style: normal;
}

.nav-item {
  display: flex;
}
.nav-item p {
  font-size: 16px;
  color: #8D8F9B;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
}

.nav-item:not(:first-child) {
  margin-left: 25px;
}

.view-count {
  font-size: 16px;
  color: #8D8F9B;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
}

.icon {
  background-image: url(.././publick-img/eye.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.publication-title {
  font-size: 40px;
  color: #131315;
  line-height: 120%;
  font-family: SF Pro Display;
  font-weight: 700;
  font-style: normal;
  margin-top: 30px;
}

.publication-text {
  margin-top: 20px;
}

.support-box {
  display: flex;
  align-items: center;
  background: #F9F9FD;
  border-radius: 6px;
  padding: 5px 24px 5px 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
}

.support-img {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.02), 0px 2px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 10px 20px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  overflow: hidden;
  margin-right: 15px;
}
.support-img .icon-support {
  width: 30px;
  height: 30px;
  background: url(../publick-img/support.png) no-repeat center/contain;
}

.support-caption {
  margin-right: 10px;
}
.support-caption p {
  font-size: 14px;
  color: #4F5159;
  line-height: 130%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
}
.support-caption .support-call {
  font-size: 17px;
  color: #1D32A8;
  line-height: 120%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
  margin-top: 2px;
}

.support-social {
  display: flex;
}
.support-social a {
  width: 50px;
}

.publication-img {
  overflow: hidden;
  margin-top: 30px;
}
.publication-img img {
  width: 100%;
  max-height: 100%;
}

.publication-autor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  background: #F9F9FD;
  border-radius: 4px;
}

.autor-info {
  display: flex;
  align-items: center;
}
.autor-info img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.autor-info p {
  font-size: 18px;
  color: #131315;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: normal;
}

.autor-followers {
  background: linear-gradient(315deg, #1D32A8 0%, #326BFF 100%);
  border-radius: 10px;
  padding: 3px 6px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 5px;
}
.autor-followers p {
  font-size: 12px;
  color: #FFFFFF;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 700;
  font-style: normal;
}

.autor-subscribe {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #DEDFE6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 2px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.autor-subscribe p {
  font-size: 14px;
  color: #131315;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 500;
  font-style: normal;
  margin-left: 10px;
}

.publication-hash {
  margin-top: 20px;
}
.publication-hash a {
  font-size: 16px;
  color: #8D8F9B;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
  padding: 7px 0;
}

.publication-social {
  display: flex;
  margin-top: 30px;
}
.publication-social .nav-link {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  border-radius: 3px;
}
.publication-social .nav-link span {
  margin: 0 10px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
}
.publication-social .nav-link p {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: normal;
  font-style: normal;
}
.publication-social .nav-link img {
  max-width: 100%;
  max-height: 500px;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.whatsapp {
  background: #0FB34C;
}

.facebook {
  background: #3B5998;
}

.vk {
  background: #4C6C91;
}

.telegram {
  background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%), #C4C4C4;
}

.twitter {
  background: #55ACEE;
}

.comments {
  padding-top: 30px;
  justify-content: center;
  display: flex;
  width: 100%;
  height: auto;
}

.inner-comments {
  justify-content: space-between;
  display: flex;
  width: 57%;
  height: 100%;
  flex-direction: column;
}

.comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coments-title {
  display: flex;
  align-items: center;
}
.coments-title h2 {
  font-size: 18px;
  color: #131315;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: normal;
}

.line {
  width: 443px;
}

.comments-link {
  display: flex;
  align-items: center;
  padding: 3px 8px;
  border: 1px solid #DEDFE6;
  border-radius: 30px;
  margin-top: 3px;
  margin-left: 10px;
}
.comments-link p {
  font-size: 10px;
  color: #4F5159;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: normal;
}

.comments-chapter {
  display: flex;
  align-items: center;
}
.comments-chapter .famous-chapter {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  background: #FFFFFF;
  border: 1px dashed #DEDFE6;
  border-radius: 30px;
}
.comments-chapter .new-chapter {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  background: #FFFFFF;
  border: 1px dashed #DEDFE6;
  border-radius: 30px;
  margin-left: 10px;
}

.form {
  margin-top: 20px;
}

.castom-input {
  position: relative;
}
.castom-input:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  width: 25px;
  height: 25px;
  background: url("../publick-img/send.svg") no-repeat;
  background-size: cover;
}
.castom-input input {
  width: 100%;
  height: 25px;
  padding: 8px;
  border: 1px solid #F0F1F7;
  border-radius: 6px;
}

.comments-autor {
  margin-top: 20px;
}

.comments-autor-info {
  display: flex;
  align-items: center;
}

.comments-autor-container {
  margin-left: 15px;
  flex: 1;
}
.comments-autor-container p {
  font-size: 16px;
  color: #131315;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 700;
  font-style: normal;
}
.comments-autor-container span {
  font-size: 12px;
  color: #4F5159;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 400;
  font-style: normal;
}

.counter-comment {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  background: #F0FBF3;
  border-radius: 4px;
}
.counter-comment p {
  font-size: 1apx;
  color: #219653;
  line-height: 100%;
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: normal;
}

.comment-text {
  margin-top: 20px;
}
.comment-text p {
  font-size: 16px;
  color: #131315;
  line-height: 140%;
  font-family: SF Pro Display;
  font-weight: 400;
  font-style: normal;
}
.comment-text span {
  font-size: 14px;
  color: #4F5159;
  line-height: 215%;
  font-family: SF Pro Display;
  font-weight: 400;
  font-style: normal;
}

.indira {
  margin-left: 30px;
}

.kuat {
  margin-left: 60px;
}

.answer {
  display: flex;
  align-items: center;
}
.answer img {
  margin-left: 10px;
  margin-right: 5px;
}

.open-other-comment {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background: #F9F9FD;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.open-other-comment p {
  margin-left: 10px;
  font-size: 14px;
  color: #4F5159;
  line-height: 100%;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */